<div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="40" class="border padding-timer">
            <app-timer></app-timer>
        </div>
        <div class="border padding-start-pause" fxFlex>
            <app-timer-start-pause></app-timer-start-pause>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="40">
            <app-log-timer></app-log-timer>
        </div>
        <div fxFlex>
            <app-click-count></app-click-count>
        </div>
    </div>
</div>