<div class="border">
    <div class="border">
        <div class="border">
            <div class="border">
                <div class="border">
                    <div class="border">
                        <div class="border">
                            <div class="border" fxLayoutAlign="center center">
                                <div class="rotate">A floating-banner which keeps on rotating.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>