<div fxLayout="column" fxLayoutGap="16px" class="padding-4x">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="">
    <button mat-button color="primary" routerLink="">Home</button>
    <button mat-button color="primary" routerLink="/floatingbanner">Floating Banner</button>
    <button mat-button color="primary" routerLink="/e-commerce">E-Commerce</button>
    <button mat-button color="primary" routerLink="/siblingtimer">Sibling Timer</button>
    <button mat-button color="primary" routerLink="/servicetimer">Service Timer</button>
    <button mat-button color="primary" routerLink="/studentmarks">Student Marks</button>
    <button mat-button color="primary" routerLink="/dynamicdivs">Dynamic Div</button>
  </div>
  <router-outlet></router-outlet>
</div>