/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.text-font {
    font-size: 1.50em;
}
.bold {
    font-weight: bold;
}
.counter-font {
    font-size: 3em;
}
